In [36]:
import pandas as pd
import re

In [ ]:
nsk_hub_statistics = dict()

In [86]:
dir_path = 'sib_big_nodes/'
target_dir = 'hub_statistics/'
cols = ['Номер узла', 'Наименование узла', 'Uном, кВ', 'Субъект РФ', 'Цена, руб', 'hour']
new_cols = ['node', 'node_name','current', 'subject', 'cost', 'hour']
EXPR = r'\d+'

In [7]:
df = pd.read_excel('sib_big_nodes/20190710_sib_big_nodes_prices_pub.xls',
                   skiprows=2,
                   usecols=range(5)
                  )

In [21]:
list(df.columns)

['Номер узла', 'Наименование узла', 'Uном, кВ', 'Субъект РФ', 'Цена, руб']

In [8]:
df.head()

   Номер узла Наименование узла  Uном, кВ            Субъект РФ  Цена, руб
0      100001           Асбест      115.0  Свердловская область   874.5021
1      100002             БАЭС      115.0  Свердловская область   874.1677
2      100003       Травянская      230.0  Свердловская область   889.5337
3      100004    Первоуральская     115.0  Свердловская область   909.1945
4      100005          Хромпик      115.0  Свердловская область   911.7353

In [18]:
mask = (df['Субъект РФ'] == 'Новосибирская область')

In [19]:
df[mask]

      Номер узла Наименование узла  Uном, кВ             Субъект РФ  Цена, руб
6458     1000600          Заря-АТ1     510.0  Новосибирская область  819.14606
6459     1000601          Заря-АТ2     510.0  Новосибирская область  819.20720
6460     1000602   НТЭЦ-5 (3Г)_шгн      16.0  Новосибирская область  819.30670
6461     1000603   НТЭЦ-5 (4Г)_шгн      16.0  Новосибирская область  819.30707
6462     1000607         Ордынская     110.0  Новосибирская область  820.70020
...          ...               ...       ...                    ...        ...
6523     1000690     Татарская АТ1     220.0  Новосибирская область  872.69460
6524     1000691      Мостовая-110     110.0  Новосибирская область  818.73760
6525     1000692     Татарская АТ2     220.0  Новосибирская область  872.29236
6526     1000693     Кировская-110     110.0  Новосибирская область  818.46170
6527     1000694   Барабинская-500     500.0  Новосибирская область  836.87240

[70 rows x 5 columns]

## Taking info from full statistic for 20190710 (summer)

In [88]:
season = 'summer'
filename = dir_path + '20190710_sib_big_nodes_prices_pub.xls'
nsk_hub_statistics[season] = pd.DataFrame(columns=cols)

In [89]:
%%time
for i in range(24):
    sheet = pd.read_excel(filename,
                          skiprows=2,
                          usecols=range(5),
                          sheet_name=i
             )
    mask = (sheet['Субъект РФ'] == 'Новосибирская область')
    nsk_hub_statistics[season] = pd.concat([nsk_hub_statistics[season],
                                            sheet[mask]],
                                           ignore_index=True)
    nsk_hub_statistics[season].fillna(i, inplace=True)
    del sheet

CPU times: user 2min 55s, sys: 764 ms, total: 2min 56s
Wall time: 2min 56s

In [90]:
nsk_hub_statistics[season].head()

,Номер узла,Наименование узла,"Uном, кВ",Субъект РФ,"Цена, руб",hour
0,1000600,Заря-АТ1,510.0,Новосибирская область,819.14606,0.0
1,1000601,Заря-АТ2,510.0,Новосибирская область,819.20720,0.0
2,1000602,НТЭЦ-5 (3Г)_шгн,16.0,Новосибирская область,819.30670,0.0
3,1000603,НТЭЦ-5 (4Г)_шгн,16.0,Новосибирская область,819.30707,0.0
4,1000607,Ордынская,110.0,Новосибирская область,820.70020,0.0

In [91]:
date = re.findall(EXPR, filename)[0]
nsk_hub_statistics[season].columns = new_cols
nsk_hub_statistics[season].to_excel(target_dir + \
                                    f'hub_statistics_{date}.xls',
                                   index=False)

## Taking info from full statistic for 20191016 (autumn)

In [92]:
season = 'autumn'
filename = dir_path + '20191016_sib_big_nodes_prices_pub.xls'
nsk_hub_statistics[season] = pd.DataFrame(columns=cols)

In [93]:
%%time
for i in range(24):
    sheet = pd.read_excel(filename,
                          skiprows=2,
                          usecols=range(5),
                          sheet_name=i
             )
    mask = (sheet['Субъект РФ'] == 'Новосибирская область')
    nsk_hub_statistics[season] = pd.concat([nsk_hub_statistics[season],
                                            sheet[mask]],
                                           ignore_index=True)
    nsk_hub_statistics[season].fillna(i, inplace=True)
    del sheet

CPU times: user 3min, sys: 728 ms, total: 3min 1s
Wall time: 3min 1s

In [94]:
nsk_hub_statistics[season].head()

,Номер узла,Наименование узла,"Uном, кВ",Субъект РФ,"Цена, руб",hour
0,1000600,Заря-АТ1,510.0,Новосибирская область,814.02080,0.0
1,1000601,Заря-АТ2,510.0,Новосибирская область,814.02070,0.0
2,1000602,НТЭЦ-5 (3Г)_шгн,16.0,Новосибирская область,816.79900,0.0
3,1000603,НТЭЦ-5 (4Г)_шгн,16.0,Новосибирская область,814.34906,0.0
4,1000607,Ордынская,110.0,Новосибирская область,848.94635,0.0

In [95]:
date = re.findall(EXPR, filename)[0]
nsk_hub_statistics[season].columns = new_cols
nsk_hub_statistics[season].to_excel(target_dir + \
                                    f'hub_statistics_{date}.xls',
                                   index=False)

## Taking info from full statistic for 20200115 (winter)

In [96]:
season = 'winter'
filename = dir_path + '20200115_sib_big_nodes_prices_pub.xls'
nsk_hub_statistics[season] = pd.DataFrame(columns=cols)

In [97]:
%%time
for i in range(24):
    sheet = pd.read_excel(filename,
                          skiprows=2,
                          usecols=range(5),
                          sheet_name=i
             )
    mask = (sheet['Субъект РФ'] == 'Новосибирская область')
    nsk_hub_statistics[season] = pd.concat([nsk_hub_statistics[season],
                                            sheet[mask]],
                                           ignore_index=True)
    nsk_hub_statistics[season].fillna(i, inplace=True)
    del sheet

CPU times: user 3min 2s, sys: 984 ms, total: 3min 3s
Wall time: 3min 3s

In [98]:
nsk_hub_statistics[season].head()

,Номер узла,Наименование узла,"Uном, кВ",Субъект РФ,"Цена, руб",hour
0,1000600,Заря-АТ1,510.0,Новосибирская область,866.51270,0.0
1,1000601,Заря-АТ2,510.0,Новосибирская область,866.58026,0.0
2,1000602,НТЭЦ-5 (3Г)_шгн,16.0,Новосибирская область,852.46380,0.0
3,1000603,НТЭЦ-5 (4Г)_шгн,16.0,Новосибирская область,852.19220,0.0
4,1000607,Ордынская,110.0,Новосибирская область,900.17395,0.0

In [99]:
date = re.findall(EXPR, filename)[0]
nsk_hub_statistics[season].columns = new_cols
nsk_hub_statistics[season].to_excel(target_dir + \
                                    f'hub_statistics_{date}.xls',
                                   index=False)